{% extends "base.html" %}

{% block title%}Create{% endblock%}

{% block body%} 
<div class="card">
    <h3>Product Entry</h3>
    <hr>
    <form class="entry-form" method="post" action="/product">
        <div class="input-group">
            <label for="name">Product Name</label>
            <input type="text" name="name" class="textbox" >
        </div>
        <div class="input-group">
            <label for="price">Product Price</label>
            <input type="number" name="price" class="textbox" >
        </div>
        <div class="btn-group">
            <button class="save-btn" type="submit">Save</button>
             <a href="/product_list" class="cancel-btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}