{% extends "base.html" %}

{% block title%}Listing{% endblock%}

{% block body%}
<div class="card">
    <h3>Product Listing</h3>
    <a class="add-btn" href="/product">Add Product</a>
    <hr>
    <table class="product-table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Action</th>
        </thead>
        <tbody>
            {% if not proudct_list %}
            <tr>
                <td colspan="3">No Record.</td>
            </tr>
            {% endif %}
            {% for product in proudct_list %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a href="/product/edit/{{product.Id}}">Edit</a>
                    <form method="post" action="/product/{{ product.Id }}" style="display:inline ;">
                        <button type="submit" onclick="return confirm('Are you sure want to delete?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}