{% extends "base.html" %}

{% block title%}Register{% endblock%}

{% block body%}
<div class="card">
    <h3>Register</h3>
    <hr>
    <form class="entry-form" method="post" action="/register">
        <div class="input-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="textbox" >
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="textbox" >
        </div>
        <div class="btn-group">
            <button class="save-btn" type="submit">Register</button>
            <a href="/login" class="cancel-btn">Back to Login</a>
        </div>
    </form>
</div>
{% endblock %}
